SECRET_KEY=""
DEBUG=True
ALLOWED_HOSTS=127.0.0.1 localhost
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

KEY_FILE_LOCATION=tmp/xxx.json
BUCKET_NAME=

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
